@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding-top: 56px;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #fafafa;
  color: #222;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  outline: none;
}

button {
  background-color: transparent;
  border: 0 none;
  box-shadow: none;
  outline: 0 none;
}

a:active,
a:link,
a:focus {
  outline: none;
}

.container {
  width: 100%;
  max-width: 728px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 16px;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  backface-visibility: hidden;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: inline-block;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo img {
  height: 100%;
}

.header__icon {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 7px;
}

.user__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.user__thumb__wrapper {
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  overflow: hidden;
}

.user__thumb img {
  height: 100%;
  width: 100%;
}

.stories {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  padding: 16px 0;
}

.stories__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.stories .user__thumb {
  width: 78px;
  height: 78px;
  margin: 0 8px;
}

.stories .user__thumb .user__thumb__wrapper {
  height: 72px;
  width: 72px;
}

.stories .user__thumb--unread {
  background: linear-gradient(
    45deg,
    rgb(245, 160, 77) 0%,
    rgb(160, 15, 139) 100%
  );
}

main {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.post {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.post__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.post__header .user {
  display: flex;
  align-items: center;
}

.post__header .user__thumb {
  height: 40px;
  margin-right: 8px;
  width: 40px;
}

.post__header .user__name {
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}

.post__context {
  font-size: 1.4rem;
}

.post__photo {
  overflow: hidden;
  margin: 0;
  height: auto;
  width: 100%;
}

.post__photo img {
  width: 100%;
}

.post__actions {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 0;
}

.post__action {
  font-size: 2.4rem;
  margin: 0 8px;
}

.post__action:last-child {
  justify-self: flex-end;
  margin-left: auto;
}

.post__status {
  display: flex;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.05);
}

.post__status .user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post__status .user span {
  font-size: 1.2rem;
}

.post__status .user__thumb {
  height: 30px;
  width: 30px;
  margin-right: 8px;
}
